# Base Config
DB_USERNAME=postgres
DB_DATABASE=postgres
DB_PASSWORD=
DJANGO_DB_NAME=homeportal
DJANGO_DB_USER=homeportal
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=postgres
DJANGO_CACHE_HOST=valkey
DJANGO_SECRET_KEY=
DJANGO_CLOUDFLARE_API_KEY=
# DJANGO_HOSTS=api.labuschagne.xyz,app.labuschagne.xyz,admin.labuschagne.xyz
# DJANGO_DB_PORT=
# DJANGO_CACHE_PORT=

# Authentik Configuration
AUTHENTIK_SECRET_KEY=
AUTHENTIK_REDIS__HOST=valkey
AUTHENTIK_POSTGRESQL__HOST=postgres
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD=
AUTHENTIK_ERROR_REPORTING__ENABLED=false
# AUTHENTIK_AUTHENTIK__EXTERNAL_HOST=https://auth.labuschagne.xyz

AUTHENTIK_BOOTSTRAP_EMAIL=
AUTHENTIK_BOOTSTRAP_PASSWORD=
AUTHENTIK_BOOTSTRAP_TOKEN=
