app.labuschagne.xyz,
api.labuschagne.xyz {
	handle_path /* {
		reverse_proxy app:80
	}

	handle_path /static/* {
		root * /var/www/html/homeportal/static/
		file_server
	}
}

admin.labuschagne.xyz {
	handle_path /* {
		reverse_proxy admin:80
	}

	handle_path /static/* {
		root * /var/www/html/homeportal/static/
		file_server
	}
}

docs.labuschagne.xyz {
	handle_path /HomePortalV2/* {
		root * /var/www/html/docs/
		file_server
	}
}
