(inttls) {
	tls /certs/fullchain.cer /certs/labuschagne.xyz.key
}

auth.labuschagne.xyz,
api.labuschagne.xyz,
app.labuschagne.xyz,
admin.labuschagne.xyz,
docs.labuschagne.xyz,
jelly.labuschagne.xyz,
portal.labuschagne.xyz {
	import inttls

	handle_path /* {
		root * /var/www/html/maintenance/
		file_server
	}
}
